<button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#filterModal">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-square-fill" viewBox="0 0 16 16">
    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm.5 5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1 0-1M4 8.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m2 3a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
  </svg>
  Filtros
</button>

<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="filterModalLabel">Filtros</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row">
          <h4 class="mb-5">Rango de precios</h4>
          <p-slider class="mb-3" [(ngModel)]="rangePrice" [range]="true" [min]="9100" [max]="92000"/>
          <div class="col-6 my-3">
            <div class="form-floating">
              <input type="text" class="form-control" readonly [value]="rangePrice[0]"/>
              <label for="floatingInputValue">Minimo</label>
            </div>
          </div>
          <div class="col-6 my-3">
            <div class="form-floating">
              <input type="text" class="form-control" readonly [value]="rangePrice[1] == 92000? rangePrice[1]+'+': rangePrice[1]">
              <label for="floatingInputValue">Maximo</label>
            </div>
          </div>
        </div>

        <div class="border-bottom my-3"></div>

        <div class="row">
          <h4 class="my-3">Habitaciones y camas</h4>
          <div class="row">
            <div class="col-12">
              <label>{{ CONSTANTS.numberOfRoomsLabel }}</label>
            </div>
            <div class="col-12 mb-3">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" [value]="-1"  [(ngModel)]="currentNumberOfRooms" name="btnRooms" id="btnRooms0" checked autocomplete="off">
                <label class="btn btn-outline-dark rounded-pill me-3" for="btnRooms0">Cualquiera</label>
                @for(number of numbers; track number){
                  <input type="radio" class="btn-check" [value]="number"  [(ngModel)]="currentNumberOfRooms" name="btnRooms" id="btnRooms{{number}}" autocomplete="off">
                  <label class="btn btn-outline-dark rounded-pill me-3" for="btnRooms{{number}}">{{number == 8 ? number+"+" : number}}</label>
                }
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>{{ CONSTANTS.numberOfBedsLabel }}</label>
            </div>
            <div class="col-12 mb-3">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" [value]="-1"  [(ngModel)]="currentNumberOfBeds" name="btnBeds" id="btnBeds0" checked autocomplete="off">
                <label class="btn btn-outline-dark rounded-pill me-3" for="btnBeds0">Cualquiera</label>
                @for(number of numbers; track number){
                  <input type="radio" class="btn-check" [value]="number"  [(ngModel)]="currentNumberOfBeds" name="btnBeds" id="btnBeds{{number}}" autocomplete="off">
                  <label class="btn btn-outline-dark rounded-pill me-3" for="btnBeds{{number}}">{{number == 8 ? number+"+" : number}}</label>
                }
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>{{ CONSTANTS.numberOfBathroomsLabel }}</label>
            </div>
            <div class="col-12 mb-3">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" [value]="-1"  [(ngModel)]="currentNumberOfBathrooms" name="btnBathrooms" id="btnBathrooms0" checked autocomplete="off">
                <label class="btn btn-outline-dark rounded-pill me-3" for="btnBathrooms0">Cualquiera</label>
                @for(number of numbers; track number){
                  <input type="radio" class="btn-check" [value]="number" [(ngModel)]="currentNumberOfBathrooms" name="btnBathrooms" id="btnBathrooms{{number}}" [checked]="number==1" autocomplete="off">
                  <label class="btn btn-outline-dark rounded-pill me-3" for="btnBathrooms{{number}}">{{number == 8 ? number+"+" : number}}</label>
                }
              </div>
            </div>
          </div>

        </div>

        <div class="border-bottom my-3"></div>

        <div class="row">
          <div class="col-12">
            <h4 class="my-3">Tipo de propiedad</h4>
          </div>
          <div class="col-12 mb-3">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              @for(type of homeStayTypes; track type; let i = $index){
                <input type="radio" class="btn-check" [value]="type.type"  [(ngModel)]="currentType" name="btnTypes" id="btnTypes{{i}}" [checked]="i==0" autocomplete="off">
                <label class="btn btn-outline-secondary rounded me-3" for="btnTypes{{i}}">
                  <img [src]="type.vectorImage.url" [height]="type.vectorImage.height">
                  {{type.type}}
                </label>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="clearAll()" class="btn btn-link ">Quitar todos</button>
        <button type="button" (click)="filter()" class="btn btn-dark">{{ CONSTANTS.applyFilters }}</button>
      </div>
    </div>
  </div>
</div>


