<div class="row justify-content-center">
  <h2>Revisa tus solicitudes de arriendo</h2>
  @if(_stayRequests.length > 0){
    @for(request of _stayRequests; track request){
      <div class="col-12">
        <h4 class="my-4 fw-normal">• {{request.propiedad.titulo}}. {{request.propiedad.tipo}} en {{request.propiedad.ciudad}}, {{request.propiedad.pais}}: </h4>
        @for(stay of request.hospedajes; track stay){
          <div class="row mt-4 justify-content-center">
            <div class="col-8">
              <div class="row">
                <h5 class="fw-normal">Solicitado por {{ stay.huesped.nombre }} {{ stay.huesped.apellidoPat}}, el dia {{ stay.hospedaje.fechaCreacion | date: 'dd MMM yyyy' }}</h5>
              </div>
              <div class="row">
                <h6 class="fw-normal">• Estado: {{stay.hospedaje.estadoAceptacion.toLowerCase()}}</h6>
              </div>
            </div>
            <div class="col-2 text-end">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn btn-outline-dark" data-bs-toggle="modal" [attr.data-bs-target]="'#stayModal' + stay.hospedaje.id">Ver detalles</button>

              <!-- Modal -->
              <div class="modal fade text-start" [attr.id]="'stayModal' + stay.hospedaje.id" tabindex="-1" aria-labelledby="stayModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-2" id="exampleModalLabel">Detalles de la solicitud</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="row">
                            <h5 class="fw-semibold mt-3 mb-1">Solicitud de arriendo para la propiedad:</h5>
                            <h6 class="fw-normal"> {{request.propiedad.titulo}}</h6>
                          </div>

                          <div class="row">
                            <h5 class="fw-semibold mt-3 mb-1">Ubicada en:</h5>
                            <h6 class="fw-normal"> {{request.propiedad.ciudad}}, {{request.propiedad.pais}}</h6>
                          </div>

                          <div class="row">
                            <h5 class="fw-semibold mt-3 mb-1">Nombre del huesped:</h5>
                            <h6 class="fw-normal"> {{ stay.huesped.nombre }} {{stay.huesped.apellidoPat}}</h6>
                          </div>

                          <div class="row">
                            <div class="col-6">
                              <h5 class="fw-semibold mt-3 mb-1">Fecha de inicio:</h5>
                              <h6 class="fw-normal">{{stay.hospedaje.fechaIni | date: 'dd MMM yyyy'}}</h6>
                            </div>
                            <div class="col-6">
                              <h5 class="fw-semibold mt-3 mb-1">Fecha de termino:</h5>
                              <h6 class="fw-normal">{{stay.hospedaje.fechaFin | date: 'dd MMM yyyy'}}</h6>
                            </div>
                          </div>

                          <div class="row">
                            <h5 class="fw-semibold mt-3 mb-1">Cantidad de Huespedes:</h5>
                            <div class="col-12 mb-2">
                              <h6 class="fw-normal">Numero de adultos: {{stay.hospedaje.nroAdultos}}</h6>
                            </div>
                            <div class="col-12 mb-2">
                              <h6 class="fw-normal">Numero de niños: {{stay.hospedaje.nroNinos}}</h6>
                            </div>
                            <div class="col-12 mb-2">
                              <h6 class="fw-normal">Numero de bebes: {{stay.hospedaje.nroBebes}}</h6>
                            </div>
                            <div class="col-12 mb-2">
                              <h6 class="fw-normal">Numero de mascotas: {{stay.hospedaje.nroMascotas}}</h6>
                            </div>
                          </div>
                          <div class="row">
                            <h5 class="fw-semibold mt-3 mb-1">Costos del hospedaje:</h5>
                            <div class="col-12 mb-2">
                              <h6 class="fw-normal">Costo por noche: ${{stay.hospedaje.costoNoche.toLocaleString()}}</h6>
                            </div>
                            <div class="col-12 mb-2">
                              <h6 class="fw-normal">Costo por {{stay.hospedaje.nochesDeEstadia}} noches: ${{stay.hospedaje.costoHospedaje.toLocaleString()}}</h6>
                            </div>
                            <div class="col-12 mb-2">
                              <h6 class="fw-normal">Tarifa de limpieza: ${{stay.hospedaje.tarifaLimpieza.toLocaleString()}}</h6>
                            </div>
                            <div class="col-12 mb-2">
                              <h6 class="fw-normal">Tarifa de servicio: ${{stay.hospedaje.tarifaServicio.toLocaleString()}}</h6>
                            </div>
                            <div class="col-12 mb-2 text-end">
                              <h4 class="fw-semibold">Total: ${{(stay.hospedaje.costoHospedaje+stay.hospedaje.tarifaLimpieza+stay.hospedaje.tarifaServicio).toLocaleString()}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-outline-dark" (click)="acceptStay(stay.hospedaje)">Aceptar</button>
                      <button class="btn btn-outline-danger" (click)="rejectStay(stay.hospedaje)">Rechazar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    }

  } @else {
    <div class="col-12 text-center">
      <h3 class="my-4 fw-normal">Aun no has recibido ninguna solicitud de arriendo</h3>
    </div>
  }
</div>
