<app-navbar />
<div class="border-bottom"></div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="pt-3 mt-4 text-center">Modo Anfitrión</h1>
      <div class="row mt-5">
        <div class="col-12 mb-3">
          <h2>Estimado {{ getCurrentHostName() }} {{getCurrentHostLastName()}}</h2>
        </div>
        <div class="col-12 text-center">
          <div class="row justify-content-center">
            <h3 class="my-4 fw-normal">Tienes un total de</h3>
            <div class="border rounded-circle border-light-subtle border-2" style="width: 270px; height: 270px;">
              <h2 style="font-size: 70px;" class="mt-3">{{ getRatingOfCurrentHost() ? getRatingOfCurrentHost() : "0.0"}}</h2>
            <img src="assets/images/laurel-wreath.png" alt="laurel" height="130" width="130">
            </div>
          </div>
        </div>
        <h3 class="text-center mt-4 fw-normal">Como valoracion promedio</h3>
      </div>
    </div>
  </div>

  <div class="border-bottom my-5"></div>

  <div class="row justify-content-center">
    <div class="col-12">
      <h2>Balance económico</h2>
      <div class="col-12 text-center">
        <h3 class="my-4 fw-normal">En el último mes has ganado un total de</h3>
        <h2 class=""style="font-size: 70px;">${{ getMoneyOfAcceptedStays().toLocaleString() }}</h2>
      </div>
    </div>
  </div>

  <div class="border-bottom my-5"></div>

  <div class="row justify-content-center">
    <div class="col-12">
      <app-accept-reject-stay-view />
    </div>
  </div>

  <div class="border-bottom my-5"></div>

  <div class="row justify-content-center">
    <div class="col-12">
      <app-message [id]="getCurrentHostId()"/>
    </div>
  </div>

  <div class="border-bottom my-5"></div>

  <div class="row justify-content-center">
    <div class="col-12">
      <app-stay-requests [id]="getCurrentHostId()" />
    </div>
  </div>

  <div class="border-bottom my-5"></div>

  <div class="row justify-content-center">
    <div class="row">
      <h2>Revisa tus alquileres</h2>
      @for(homeStay of getCurrentHostHouses(); track homeStay){
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="card border border-0 my-2" (click)="homeVisualizer(homeStay.id)">
            <img
                [src]="homeStay.fotos[0]"
                class="rounded-3"
                [height]="300"
              />
            <div class="card-body lh-1">
              <div class="row">
                <div class="col-9 ps-0">
                  <h6 class="h6 card-title">{{homeStay.ciudad}}, {{homeStay.pais}}</h6>
                </div>
              </div>
              <div class="row card-subtitle">
                <div class="col ps-0">
                  <p class="fw-light">{{homeStay.tipo}}
                </div>
              </div>
              <div class="row card-subtitle">
                <div class="col-12 d-flex ps-0">
                  <p class="fw-semibold">${{homeStay.precioNoche |  number:'1.0-0'}} CLP</p>
                  <p class="ms-2">noche</p>
                </div>   
                <div class="col-12 d-flex ps-0">
                  <p class="fw-semibold ps-0">Estado:</p>
                  <p class="ms-2">{{homeStay.estaActivo? "Alquiler Activo" : "Alquiler Inactivo"}}</p>
                </div>      
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>

</div>
