
div.finder-container {
  display: flex;
  flex-wrap:nowrap;
  align-items: center;
  width: fit-content;
  border: #6a6363 solid 1px;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(255, 11, 11, 0.1);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
div.finder-place-holder {
  justify-items: center;
  display: flex;
  flex-direction: column;
}
div.finder-place-holder:hover {
  background-color: #cccccc;
  border-radius: 20px;
}

button.finder-button {
  border: #6a6363 3px solid;
  border-radius: 10%;
  width: 120px;
  height: 50px;
  padding: 10px;
  align-content: center;
  text-align: center;
  font-size: .8rem;
  color: #f8f8f8;
  font-weight: bold;

  background-color: #e36684;
}

label.finder-place-holder-label {
  font-weight: bold;
  font-size: .6rem;
  margin-left: 20px;


}

.option-entry {

}

.date-option-entry {

}
.string-option-entry {
  width: 100%;
  border: none;
  font-size: .6rem;
}

.string-option-entry:hover{
  background-color: #cccccc;
}
