
<app-navbar></app-navbar>
<div class="border-bottom"></div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 col-md-10 col-lg-8">
      <h2 class="pt-3 mt-4 text-center">Formulario de inscripción de propiedad</h2>
      <form [formGroup]="homeStayForm">
        <div class="form-group">
          <h3 class="mt-5 fw-normal fs-4">Información de la propiedad  </h3> 
          <!-- NRO ADULTOS -->
          <div class="row my-2 mt-3 justify-content-between">
            <div class="col-12 col-sm-7 d-flex align-items-center">
              <label for="numeroAdultos">
                {{CONSTANTS.adultsNumberLabel}}
              </label>
            </div>
            <div class="col-6 col-sm-4 d-flex align-items-center justify-content-sm-end mb-2 mb-sm-0">
              <button
                class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                (click)="decrement('adults')"
              >
                <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-dash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M1.5 8a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </button>

              <input
                  type="number"
                  class="form-control w-25 border-0 text-center"
                  id="numeroAdultos"
                  name="numeroAdultos"
                  formControlName="adults"
                />

              <button
                    class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                    (click)="increment('adults')"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-plus-lg"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
                      />
                    </svg>
                  </button>
            </div>
            <div *ngIf="homeStayForm.get('adults')?.invalid || (homeStayForm.get('adults')?.invalid && homeStayForm.get('adults')?.touched)">
              <small class="text-danger">Ingrese correctamente la cantidad de adultos</small>
            </div>
          </div>
          <!-- NRO NIÑOS -->
          <div class="row mb-2 justify-content-between">
            <div class="col-12 col-sm-7 d-flex align-items-center">
              <label for="numeroNiños">
                {{CONSTANTS.childrenNumberLabel}}
              </label>
            </div>
            <div class="col-6 col-sm-4 d-flex align-items-center justify-content-sm-end mb-2 mb-sm-0">
              <button
                class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                (click)="decrement('children')"
              >
                <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-dash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M1.5 8a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </button>

              <input
                  type="number"
                  class="form-control w-25 border-0 text-center"
                  id="numeroNiños"
                  name="numeroNiños"
                  formControlName="children"
                />

              <button
                    class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                    (click)="increment('children')"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-plus-lg"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
                      />
                    </svg>
                  </button>
            </div>
            
            <div *ngIf="homeStayForm.get('children')?.invalid || (homeStayForm.get('children')?.invalid && homeStayForm.get('children')?.touched)">
              <small class="text-danger">Ingrese correctamente la cantidad de niños</small>
            </div>
          </div>
          <!-- NRO BEBES -->
          <div class="row mb-2 justify-content-between">
            <div class="col-12 col-sm-7 d-flex align-items-center">
              <label for="numeroBebes">
                {{CONSTANTS.babiesNumberLabel}}
              </label>
            </div>
            <div class="col-6 col-sm-4 d-flex align-items-center justify-content-sm-end mb-2 mb-sm-0">
              <button
                class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                (click)="decrement('babies')"
              >
                <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-dash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M1.5 8a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </button>

              <input
                  type="number"
                  class="form-control w-25 border-0 text-center"
                  id="numeroBebes"
                  name="numeroBebes"
                  formControlName="babies"
                />

              <button
                    class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                    (click)="increment('babies')"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-plus-lg"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
                      />
                    </svg>
                  </button>
            </div>
            
            <div *ngIf="homeStayForm.get('babies')?.invalid || (homeStayForm.get('babies')?.invalid && homeStayForm.get('babies')?.touched)">
              <small class="text-danger">Ingrese correctamente la cantidad de bebes</small>
            </div>
          </div>
          <!-- NRO MASCOTAS -->
          <div class="row mb-2 justify-content-between">
            <div class="col-12 col-sm-7 d-flex align-items-center">
              <label for="numeroMascotas">
                {{CONSTANTS.petsNumberLabel}}
              </label>
            </div>
            <div class="col-6 col-sm-4 d-flex align-items-center justify-content-sm-end mb-2 mb-sm-0">
              <button
                class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                (click)="decrement('pets')"
              >
                <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-dash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M1.5 8a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </button>

              <input
                  type="number"
                  class="form-control w-25 border-0 text-center"
                  id="numeroMascotas"
                  name="numeroMascotas"
                  formControlName="pets"
                />

              <button
                    class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                    (click)="increment('pets')"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-plus-lg"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
                      />
                    </svg>
                  </button>
            </div>
            
            <div *ngIf="homeStayForm.get('pets')?.invalid || (homeStayForm.get('pets')?.invalid && homeStayForm.get('pets')?.touched)">
              <small class="text-danger">Ingrese correctamente la cantidad de mascotas</small>
            </div>
          </div>
          <!-- HABITACIONES -->
          <div class="row mb-2 justify-content-between">
            <div class="col-12 col-sm-7 d-flex align-items-center">
              <label for="numDormitorios">
                {{CONSTANTS.roomsNumberLabel}}
              </label>
            </div>
            <div class="col-6 col-sm-4 d-flex align-items-center justify-content-sm-end mb-2 mb-sm-0">
              <button
                class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                (click)="decrement('rooms')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-dash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M1.5 8a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </button>

              <input 
                  type="number"
                  class="form-control w-25 text-center"
                  id="numDormitorios"
                  style="border: none"
                  name="numDormitorios"
                  formControlName="rooms"
                />

              <button
                    class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                    (click)="increment('rooms')"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-plus-lg"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
                      />
                    </svg>
                  </button>
            </div>
            <div *ngIf="homeStayForm.get('rooms')?.invalid || (homeStayForm.get('rooms')?.invalid && homeStayForm.get('rooms')?.touched)">
              <small class="text-danger">Ingrese correctamente la cantidad de habitaciones</small>
            </div>
          </div>
          <!-- CAMAS -->
          <div class="row my-2 justify-content-between">
            <div class="col-12 col-sm-7 d-flex align-items-center">
              <label for="camasDisponibles">
                {{CONSTANTS.bedsNumberLabel}}
              </label>
            </div>
            <div class="col-6 col-sm-4 d-flex align-items-center justify-content-sm-end mb-2 mb-sm-0">
              <button
                class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                (click)="decrement('beds')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-dash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M1.5 8a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </button>

              <input
                  type="number"
                  class="form-control w-25 border-0 text-center"
                  id="camasDisponibles"
                  name="camasDisponibles"
                  formControlName="beds"
                />

              <button
                    class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                    (click)="increment('beds')"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-plus-lg"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
                      />
                    </svg>
                  </button>
            </div>
            <div *ngIf="homeStayForm.get('beds')?.invalid || (homeStayForm.get('beds')?.invalid && homeStayForm.get('beds')?.touched)">
              <small class="text-danger">Ingrese correctamente la cantidad de camas</small>
            </div>
          </div>
          <!-- BANOS -->
          <div class="row mt-2 mb-3 justify-content-between">
            <div class="col-12 col-sm-7 d-flex align-items-center">
              <label for="banosDisponibles">
                {{CONSTANTS.bathsNumberLabel}}
              </label>
            </div>
            <div class="col-6 col-sm-4 d-flex align-items-center justify-content-sm-end mb-2 mb-sm-0">
              <button
                class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                (click)="decrement('bathrooms')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-dash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M1.5 8a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </button>

              <input
                  type="number"
                  class="form-control w-25 border-0 text-center"
                  id="banosDisponibles"
                  name="banosDisponibles"
                  formControlName="bathrooms"
                />

              <button
                    class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                    (click)="increment('bathrooms')"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-plus-lg"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
                      />
                    </svg>
                  </button>
            </div>
            <div *ngIf="homeStayForm.get('bathrooms')?.invalid || (homeStayForm.get('bathrooms')?.invalid && homeStayForm.get('bathrooms')?.touched)">
              <small class="text-danger">Ingrese correctamente la cantidad de baños</small>
            </div>
          </div>
          <!-- TITULO -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="calle">
              {{CONSTANTS.homeStayTitleLabel}}
            </label>
            <div class="col-12">
              <input
                type="text"
                class="form-control"
                id="titulo"
                name="titulo"
                formControlName="title"
              />
            </div>
            <div *ngIf="homeStayForm.get('title')?.invalid && homeStayForm.get('title')?.touched">
              <small class="text-danger">Ingrese correctamente el titulo</small>
            </div>
          </div>
          <!-- TIPO -->
          <div class="row mt-3">
            <label class="fs-4 mt-3" for="tipoPropiedad">
              {{CONSTANTS.homeStayTypeLabel}}
            </label>
            <div class="col-12 my-2">
              <select class="form-control" id="tipoPropiedad" name="tipoPropiedad" formControlName="type">
                @for(types of types;track types; let i = $index){
                  <option [value]="types.type">
                    {{i+1}}: {{ types.type }}
                  </option>
                }
              </select>
            </div>
            <div *ngIf="homeStayForm.get('type')?.invalid && homeStayForm.get('type')?.touched">
              <small class="text-danger">Ingrese correctamente el tipo de propiedad</small>
            </div>
          </div>
          <!-- IMAGENES -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="calle">
              {{CONSTANTS.imagesLabel}}
            </label>
            <div class="col-12">
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                placeholder="Ingresa los links separados por comas. Ej: link1, link2, link3"
                formControlName="images"
              />
            </div>
            <div *ngIf="homeStayForm.get('images')?.invalid && homeStayForm.get('images')?.touched">
              <small class="text-danger">Ingrese correctamente los links de las imagenes</small>
            </div>
            <div class="mt-3">
              <div class="col-12">
                <div id="carouselImg" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    @for (img of homeStayForm.get('images')!.value.split(','); track img; let i = $index) {
                      <button
                        type="button"
                        data-bs-target="#carouselImg"
                        [attr.data-bs-slide-to]="i"
                        [class.active]="i === 0"
                        [attr.aria-current]="i === 0 ? 'true' : null"
                        [attr.aria-label]="'Slide ' + (i + 1)"
                      ></button>
                    }
                  </div>
                  <div class="carousel-inner rounded">
                    @for (img of homeStayForm.get('images')!.value.split(','); track img; let i = $index) {
                      <div
                        [ngClass]="{ 'carousel-item': true, active: i === 0 }"
                        data-bs-interval="3000"
                      >
                        @if (img != ''){
                          <img [src]="img.trim()" class="d-block w-100 img-fluid" style="height: 500px" />
                        } @else{
                          <img src="https://www.casosexitosos.com/wp-content/uploads/2023/06/logo_airbnb-1024x626.png" class="d-block w-100 img-fluid" style="height: 500px">
                        }
                      </div>
                    }
                    
                  </div>
                  <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselImg"
                    data-bs-slide="prev"
                  >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselImg"
                    data-bs-slide="next"
                  >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- DESCRIPCION -->
          <div class="row mt-3">
            <label class="fs-4 mt-3" for="descripcion">
              {{CONSTANTS.descriptionLabel}}
            </label>
            <div class="col-12 my-2">
              <textarea
                class="form-control"
                id="descripcion"
                name="descripcion"
                rows="4"
                formControlName="desc"
                style="resize: none;"
              ></textarea>
            </div>
            <div *ngIf="homeStayForm.get('desc')?.invalid && homeStayForm.get('desc')?.touched">
              <small class="text-danger">Ingrese correctamente la descripción</small>
            </div>
          </div>
          <!-- FECHAS -->
          <div class="row mt-3">
            <label class="fs-4 my-2">
              {{CONSTANTS.availableDateLabel}}
            </label>
              <p-calendar 
                formControlName="noAvailableDates"
                dateFormat="dd/mm/yy"
                [numberOfMonths]="2"
                [minDate]="minDate"
                selectionMode="multiple" 
                [readonlyInput]="true"
                [style]="{'width':'100%', 'height':'76%'}"
                />
            @if(homeStayForm.get('noAvailableDates')?.value.length != 0){
              <div>
                <button class="btn btn-link fw-semibold ps-0 mt-2" (click)="borrar()">Borrar selección</button>
              </div>
            }
          </div>
          <!-- REGLAS -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="reglas">
              {{CONSTANTS.rulesLabel}}
            </label>
            <div class="col-12">
              <textarea
                class="form-control"
                id="reglas"
                name="reglas"
                rows="4"
                formControlName="rules"
                style="resize: none;"
              ></textarea>
            </div>
            <div *ngIf="homeStayForm.get('rules')?.invalid && homeStayForm.get('rules')?.touched">
              <small class="text-danger">Ingrese correctamente las reglas</small>
            </div>
          </div>
          <!-- CALLE -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="calle">
              {{CONSTANTS.streetAddressLabel}}
            </label>
            <div class="col-12">
              <input
                type="text"
                class="form-control"
                id="calle"
                name="calle"
                formControlName="streetAddress"
              />
            </div>
            <div *ngIf="homeStayForm.get('streetAddress')?.invalid && homeStayForm.get('streetAddress')?.touched">
              <small class="text-danger">Ingrese correctamente la dirección</small>
            </div>
          </div>
          <!-- CIUDAD -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="ubicacion">
              {{CONSTANTS.cityLabel}}
            </label>
            <div class="col-12">
              <input
                type="text"
                class="form-control"
                id="ciudad"
                name="ciudad"
                formControlName="city"
              />
            </div>
            <div *ngIf="homeStayForm.get('city')?.invalid && homeStayForm.get('city')?.touched">
              <small class="text-danger">Ingrese correctamente la ciudad</small>
            </div>
          </div>
          <!-- PAIS -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="ubicacion">
              {{CONSTANTS.countryLabel}}
            </label>
            <div class="col-12">
              <input
                type="text"
                class="form-control"
                id="pais"
                name="pais"
                formControlName="country"
              />
            </div>
            <div *ngIf="homeStayForm.get('country')?.invalid && homeStayForm.get('country')?.touched">
              <small class="text-danger">Ingrese correctamente el pais</small>
            </div>
          </div>
          <!-- NUMERO -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="numCasa">
              {{CONSTANTS.homeStayNumberAddress}}
            </label>
            <div class="col-12">
              <input
                type="number"
                class="form-control"
                id="numCasa"
                name="numCasa"
                formControlName="streetNumber"
              />
            </div>
            <div *ngIf="homeStayForm.get('streetNumber')?.invalid && homeStayForm.get('streetNumber')?.touched">
              <small class="text-danger">Ingrese correctamente el numero de casa</small>
            </div>
          </div>
          <!-- NUMERO DEP -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="numDepto">
              {{CONSTANTS.homeStayDeptNumberAddress}}
            </label>
            <div class="col-12">
              <input
                type="string"
                class="form-control"
                id="numDepto"
                name="numDepto"
                formControlName="depNumber"
              />
            </div>
          </div>
          <!-- SERVICIOS -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="comodidades">
              {{CONSTANTS.servicesAvailableLabel}}
            </label>
            <div class="col-12">
              <textarea
                class="form-control"
                id="comodidades"
                name="comodidades"
                rows="4"
                formControlName="services"
                style="resize: none;"
              ></textarea>
            </div>
            <div *ngIf="homeStayForm.get('services')?.invalid && homeStayForm.get('services')?.touched">
              <small class="text-danger">Ingrese correctamente los servicios disponibles</small>
            </div>
          </div>
          <!-- SEGURIDAD -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="opcionesSeguridad">
              {{CONSTANTS.securityOptionsLabel}}
            </label>
            <div class="col-12">
              <textarea
                class="form-control"
                id="opcionesSeguridad"
                name="opcionesSeguridad"
                rows="4"
                formControlName="securityOptions"
                style="resize: none;"
              ></textarea>
            </div>
            <div *ngIf="homeStayForm.get('securityOptions')?.invalid && homeStayForm.get('securityOptions')?.touched">
              <small class="text-danger">Ingrese correctamente las opciones de seguridad</small>
            </div>
          </div>
          <!-- LLEGADA -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="opcionesLlegada">
              {{CONSTANTS.arrivalOptionsLabel}}
            </label>
            <div class="col-12">
              <textarea
                class="form-control"
                id="opcionesLlegada"
                name="opcionesLlegada"
                rows="4"
                formControlName="arrivalOptions"
                style="resize: none;"
              ></textarea>
            </div>
            <div *ngIf="homeStayForm.get('arrivalOptions')?.invalid && homeStayForm.get('arrivalOptions')?.touched">
              <small class="text-danger">Ingrese correctamente las opciones de llegada</small>
            </div>
          </div>
          <!-- PRECIO -->
          <div class="row mt-3">
            <label class="fs-4 my-2" for="precioPorNoche">
              {{CONSTANTS.pricePerNightLabel}}
            </label>
            <div class="col-7 col-sm-6 col-lg-5 col-xl-4 d-flex align-items-center">
              <button
                class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                (click)="decrement('pricePerNight')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-dash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M1.5 8a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </button>

              <input 
                  type="number"
                  class="form-control text-center border-0"
                  id="precioPorNoche"
                  name="precioPorNoche"
                  formControlName="pricePerNight"
                />

              <button
                    class="btn btn-outline-dark btn-sm rounded-circle mx-2"
                    (click)="increment('pricePerNight')"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-plus-lg"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
                      />
                    </svg>
                  </button>
            </div>
            <div *ngIf="homeStayForm.get('pricePerNight')?.invalid && homeStayForm.get('pricePerNight')?.touched">
              <small class="text-danger">Ingrese correctamente el precio por noche</small>
            </div>
          </div>
        </div>

        <!-- BOTON -->
        <div class="row mt-5 mb-5">
          <div class="col-6">
            <button
              type="submit"
              class="btn btn-danger w-100"
              (click)="sendDataToValidation()"
              [disabled]="!homeStayForm.valid"
            >
              {{ CONSTANTS.submitButtonLabel }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
