

h1 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
}

h2 {

}

.info-card {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  border: #333030 solid 2px;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin-bottom: 10px;
}

.valuations-container {
  border: #333030 solid 3px;
  border-radius: 4px;;
  padding: 10px;

}
.valuation {
  align-content: normal;
  display: flex;
  justify-items: left;
}
