.text-container {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease;
  max-height: calc(1.5em * 3); /* Aproximadamente 3 líneas de texto */
  position: relative;
}

.text-container.show-more {
  -webkit-line-clamp: initial;
  max-height: none;
}

.img-size {
  width: 55px;
  height: auto;
}
