

<div >
    <h1>{{house.houseName}}</h1>

    <app-images-card *ngIf="house.imagesUrl" [imageUrls]="house.imagesUrl" />

    <h2 class="secondary"  *ngIf="house.location && house.houseType">
        {{house.houseType}} {{TEXTS.locatedIn}} {{house.location}}
    </h2>

    <h3 class="secondary">
        <app-housing-info-displayer [housingInformation]="this.house.informationOfNumber"/>
    </h3>



    <div class="valuations-container" *ngIf="house.houseDescriptionParagraphs?.length != 0">
        <h4>
            {{TEXTS.description}}
        </h4>

        @for (parragraphs of house.houseDescriptionParagraphs; track parragraphs) {
            <h5>
                {{parragraphs}}
            </h5>
        }
    </div>
    <div class="valuations-container" *ngIf="house.services">
        <h2 class="subtitle">
            {{TEXTS.servicesList}}
        </h2>

        <ul>
            @for (service of house.services; track service) {
                <li> {{service}} </li>
            }
        </ul>

    </div>

    <div class="valuations-container">

        <h2 class="subtitle">
            {{TEXTS.ratings}}
        </h2>

        @for (valuation of house.valuations; track  valuation) {
            <div class="primary">
                <div class = "info-card">
                    {{valuation}}
                </div>

                <div class = "info-card">
                    5 estrellas
                </div>
            </div>
        }
    </div>



</div>
