

<div>
    <h1>{{house.houseName}}</h1>

    <app-image-card />


    <h3>Anfitrión: {{house.hostName}}</h3>

    <div class="valuations-container">
        <h5>Mira las valoraciones:  </h5>

        @for (valuation of house.valuations; track  valuation) {
            <div class="valuation">
                <div class = "info-card">
                    {{valuation}}
                </div>

                <div class = "info-card">
                    5 estrellas
                </div>
            </div>


        }
    </div>


</div>
