.screen-container {
  font-family: 'Public Sans', sans-serif;
  color: #222222;
  width: 60vw; 
  margin: 0 auto; /* Centra horizontalmente */
}

h1 {
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.details-container {
  margin-top: 30px;
}

.house-location {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 600;
}

.house-information {
  font-size: 16px;
  color: #222222;
  font-weight: 300;
  margin: 0;
}

.valuations-container {
  border-top: 1px solid #e4e4e4; /* Línea de separación */
  margin-top: 40px;
}

.house-description {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 600;
}

.house-detail {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

.subtitle {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 600;
}

.services-container {
  display: grid;
  grid-template-rows: auto; 
  grid-template-columns: repeat(2, 1fr);
}

.services {
  font-weight: 300;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reviews-container {
  display: grid;
  grid-template-rows: auto; 
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  row-gap: 40px;
}

.primary {
  width: 70%;
  text-align: left; /* Alinea el texto a la izquierda */
}

.stars-and-date {
  display: flex;
  align-items: center; /* Centra verticalmente */
  gap: 10px; /* Ajusta la separación */
}

.stars-card {
  display: flex;
  align-items: center; /* Centra verticalmente */
}

.date {
  margin-left: 3px; /* Empuja la fecha hacia la derecha */
  font-size: 14px;
  font-weight: 600;
}

.info-card {
  font-size: 16px;
}

.valuation {
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: calc(1.5em * 3); /* Máximo de 3 líneas */
  line-height: 1.5em; /* Altura de línea */
}

.valuation2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em; /* Altura de línea */

}

.show-more {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
}

.prueba {
  display: flex;
  justify-content: space-between;
}

.prueba2 {
  width: 35vw;  
}


.prueba3 {
  width: 20vw; 
  height: 100%; 
  /* display: grid;
  justify-items: center;
  align-content: center;
  text-align: center; */
  border: 2px solid #e4e4e4;
  border-radius: 15px;
  padding: 20px;
  margin-left: 60px;
  margin-bottom: 60px;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(36, 36, 36, 0.2);
}

.calendar {
  width: 100%;
}

.valuation-img{
  border-radius: 50%;
  height: 48px;
}

.user-name{
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 1px;
}

.user-location{
  font-size: 14px;
  color: #222222;
}

.valuation-info{
  margin-left: 10px;
  margin-bottom: 10px;
}