

<div>
    <h1>{{house.houseName}}</h1>

    <app-images-card [imageUrls]="house.imagesUrl" />


    <h2 class="host">
        {{TEXTS.anfitrion}} {{house.hostName}}
    </h2>
    <h4 style="margin-left: 70%">
        {{TEXTS.precio}} ${{house.pricePerNight}} {{TEXTS.precioPorNoche}}
    </h4>

    <div class="valuations-container">

        <h2 class="subtitle">
            {{TEXTS.valoraciones}}
        </h2>

        @for (valuation of house.valuations; track  valuation) {
            <div class="valuation">
                <div class = "info-card">
                    {{valuation}}
                </div>

                <div class = "info-card">
                    5 estrellas
                </div>
            </div>
        }
    </div>


</div>
