.carousel-item {
  height: 400px; /* Altura del carrusel basada en el viewport */
}
.carousel-item img {
  object-fit: cover; /* Hace que la imagen cubra el contenedor manteniendo la proporción */
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .carousel-item {
    height: 550px; /* Cambia la altura del carrusel a 40vh */
  }
}

@media (min-width: 992px) {
  .carousel-item {
    height: 700px; /* Cambia la altura del carrusel a 40vh */
  }
}
