
<div class="home-stay-type-buttons-container">
    @for (category of homeStayTypes; track category) {
        <button class="home-stay-type-button">
            <img [src]="category.vectorImage.url"
                 [alt]="category.vectorImage.alt"
                 [width]="category.vectorImage.width!!"
                 [height]="category.vectorImage.height!!"
            >
            {{category.type}}
        </button>
    }
</div>


<div class="home-stay-container">

    @for (homeStay of currentHomeStayList; track homeStay) {

        <div class="home-stay-display">
            <div>
                <img [src]="homeStay.imageUrl.url"
                     [alt]="homeStay.imageUrl.alt"
                     [width]="IMAGEDIMENSIONS"
                     [height]="IMAGEDIMENSIONS"
                     class="home-images-display"
                >
            </div>

            <div class="font-container">
                <h2 class="secondary location-font">
                    {{homeStay.location}}
                </h2>
                <h2 class="secondary">
                    {{homeStay.meanRating}}
                </h2>
            </div>

            <h2 class="secondary">
                {{homeStay.availableDate}}
            </h2>
            <h2 class="secondary">
                {{getPriceOf(homeStay)}}  {{CONSTANTS.perNightText}}
            </h2>
        </div>
    }

</div>
