.btn-link{
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text{
    font-size: 12px;
}

.btn-primary {
    background-color: #df1461;
    border-color: #df1461;
  }
  
.btn-primary:hover {
  background-color: rgb(206, 21, 92);
  border-color: rgb(206, 21, 92);
}

.modal-lg{
  --bs-modal-width: 850px;
}

.modal-sm{
  --bs-modal-width: 400px;
}
