
<div class="page-center">
  <app-home-stay-finder />
  <app-home-type-buttons class="element"/>

  <div class="home-stay-container element">

    @for (homeStay of currentHomeStayList; track homeStay) {

      <div class="home-stay-display">
        <div>
          <img [src]="homeStay.imageUrl.url"
               [alt]="homeStay.imageUrl.alt"
               [width]="IMAGE_DIMENSIONS"
               [height]="IMAGE_DIMENSIONS"
               class="home-images-display"
          >
        </div>

        <div class="font-container">
          <h2 class="secondary location-font">
            {{homeStay.location}}
          </h2>
          <h2 class="secondary">
            {{homeStay.meanRating}}
          </h2>
        </div>

        <h2 class="secondary">
          {{homeStay.availableDate}}
        </h2>
        <h2 class="secondary">
          {{getPriceOf(homeStay)}}  {{CONSTANTS.perNightText}}
        </h2>
      </div>
    }

  </div>

</div>
