.form-control::placeholder{
    font-size: 15px; /* Tamaño del placeholder */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5; /* Opacidad del placeholder */
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px; /* Espacio entre el input y el mensaje de error */
  }
  
/* Ajustes para el placeholder del select */